/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Open Sans', sans-serif; }
.example-margin{
    margin: 5px 0px!important;
    top: -16px;
}
 .mat-slider-horizontal{
     height: 16px !important;
 }

   .mat-slider{
       display: block !important;
   }
   .mat-slide-toggle {
    padding: 6px 0px 0px 40px !important;
}
.mat-slide-toggle-bar{
    height: 10px !important;
    width: 28px !important;
}
.mat-slide-toggle-thumb-container{
    top: -1px !important;
}
.mat-slide-toggle-thumb {
    height: 12px !important;
    width: 12px !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
